@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);
body {
  height: 100%;
  padding-bottom: 100px;
}
.App {
  margin-top: 10px;
  text-align: center;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(39, 243, 223);
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-body {
  padding-top: 20px;
}

.profile {
  /* Add shadows to create the "card" effect */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  background: #0077B5;
  transition: 0.3s;
  width: 500px;
  margin: 20px auto;
  padding: 10px;
}

.github-link {
  color: white;
  font-size: 12px;
}


/* On mouse-over, add a deeper shadow */

.profile:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2)
}

.profile-picture {
  width: 100px;
  border-radius: 50%;
}

.userimage{
  margin-top: 20px;
  width: 80px;
  border-radius: 50%;

}

.logoimage{
  margin-top: 20px;
  width: 180px;
}

.liauth{
  width: 290px;

}
/* Add some padding inside the card container */

.profile-container {
  padding: 2px 16px;
}

.profile-container h1 {
  font-weight: 400;
  font-size: 24px;
}

.profile-container h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.profile-container h3 {
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, .75)
}

.profile-summary {
  line-height: 24px;
  font-size: 14px;
}

hr {
  border-color: #f1f1f140;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.puff-in-bottom {
-webkit-animation: puff-in-bottom 1s both;
        animation: puff-in-bottom 1s both;
}
.auth{
  right: 50%;

}

.Welcome{
  font-size: 80px;
}

.meetup{
  margin-top: 30px;
}
/* .split {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
} */

/* .left {
  top: 100px;
  left: 0;
  background-color: #0077B5;
} */
/* .right { */
  /* top: 100px; */
  /* height: 100%;
  right: 0;
  background-color: #0077B5;
} */
/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */
.snip1585 {
  background-color: #0077B5;
  color: #fff;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin: 8px;
  max-width: 315px;
  min-width: 130px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1585 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1585:before,
.snip1585:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 50px solid #e51937;
  border-bottom: 50px solid #e51937;
  position: absolute;
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.snip1585:before {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585:after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1585 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1585 h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1585 h3 span {
  display: block;
  font-weight: 700;
}

.snip1585 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip1585:hover > img,
.snip1585.hover > img {
  opacity: 0.7;
}

.snip1585:hover:before,
.snip1585.hover:before,
.snip1585:hover:after,
.snip1585.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.snip1585:hover figcaption,
.snip1585.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}



@-webkit-keyframes puff-in-bottom {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-bottom {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
